@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styling */
* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Asap", sans-serif;
    font-size: 1em;
    font-weight: 700;
} 

.grey-hr {
    border: 2px solid #3C403D ;
    border-radius: 15px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

/*Navbar Styling */
.site-logo {
    color: #3C403D ;
    font-size: 2em;
    font-weight: 800;
    margin-left: 2em;
}

a:hover {
    text-decoration: none;
    color: #3C403D;
}
.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}
.navbar-fixed-top .breathe-navbar {
    background-color: transparent ;
    border: none;
    overflow: hidden;
}

.breathe-navbar a { 
float: left;
}

/*Hero Image */
.hero-image {
    background: url("/workspace/breathe-MS2/assets/images/hero-image/hero-image.jpg") no-repeat bottom left fixed ;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-text {
    color: #F3F3F3 ;
    font-weight: 600;
    font-size: 2em;
}
/*Styling jumbotron button */
.jumbotron-btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    margin: 0 auto;
    font-size: 1.5em;
    color: #F3F3F3;
    background-color: #3c403dba ;
    border: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.jumbotron-btn:hover {
    background-color: #3C403D  ;
}

/* Techniques section */ 
.breathing-technique-h1 {
    margin-bottom: 0.5em;
    font-size: 2em;
}
.breathing-technique-h2 {
    border: 0.5em;
    width: 33%;
}

/* Footer */
footer {
    background-color: #DADED4    ;
}

.list-group-item {
    border: none;
    font-size: 2em;
    background-color: #DADED4    ;
}
.list-group-item a {
    color: #3C403D;
}
.list-group-item a:hover {
    color: #202020   ;
}
/*Styling the Modal*/
.modal-header {
    border-bottom: 1px solid #3C403D;
}
.modal-footer {
    border-top: 1px solid #3C403D;
}
.modal-btn {
    background-color: #3C403D;
    color: #F3F3F3;
    transition-duration: 0.4s;
    padding: 2px 10px;
    border-radius: 12px;
    border: none;
}

.breathe-modal {
    width: fit-content;
}

.site-logo-modal{
    color: #3C403D ;
    font-size: 2em;
    font-weight: 800;
    padding: 0;
    margin: 0;
}
.breathe-modal-body {
    border-top: #3C403D ;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: #3C403D;
}
.close:hover{
    color: #3C403D ;
}


